// 작업

// .sub-title-sup {
// 	text-align: center;
//     font-size: 2.8125rem;
//     color: #262626;
//     margin-top: 0;
//     padding: 3.75rem 3.75rem;
//     padding-top: 0;
//     line-height: 1.3;
//     word-break: keep-all;
		
// }
// .sup {
// 	vertical-align: super;
// 	font-size: x-large;

// }
// .mobile-sub-menu {
// 	padding: 5px;
// }
.sub-info .intro-menu01 {
	text-align: center;

	.intro-img02 {
		 width: 100%;
		 margin-top: 5rem;
	}
	.intro-mo-img02 {
		 display: none;
	}
}

.sub-info .intro-menu02 {
	display: flex;
	.intro-advantages-wrap {
		 display: flex;
		 flex-wrap: wrap;
		 flex-direction: column;

		 &.perfor {
				gap: 2.5rem;
				margin-right: 2.5rem;
				flex: 1;
		 }
		 &.proven {
				gap: 2.5rem;
				margin: 3.5rem 2.5rem 0 0;
				flex: 1;
		 }
		 &.advan {
				margin-top: 10.4375rem;
				flex: 1;
		 }

		 .intro-advantages__item {
				height: 22.8125rem;
				background: #f6f6f6;
				padding: 1.5625rem 1.875rem;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;

				.icon {
					 width: 5.625rem;
					 height: 5.625rem;
					 background: no-repeat center center / 100%;
				}

				.ico-perfor {
					 background-image: url(../img/ico06.svg);
				}
				.ico-proven {
					 background-image: url(../img/ico07.svg);
				}
				.ico-advan {
					 background-image: url(../img/ico08.svg);
				}
				.ico-flex {
					 background-image: url(../img/ico10.svg);
				}
				.ico-progress {
					 background-image: url(../img/ico12.svg);
				}

				p {
					 font-size: 1.875rem;
					 line-height: 2.8125rem;
					 display: flex;
					 align-items: center;
					 justify-content: center;
					 height: 6.25rem;
					 color: #222222;
					 text-align: center;
				}
				.intro-advantages__list {
					 margin-top: 1.3125rem;
					 li {
							font-size: 1rem;
							line-height: 1.5rem;
							padding: 0.3125rem;
							position: relative;
							color: #222222;

							&::before {
								 content: "";
								 background: #a265ca;
								 width: 0.3125rem;
								 height: 0.3125rem;
								 position: absolute;
								 left: -0.625rem;
								 top: 0.9375rem;
							}
					 }
				}
		 }
	}
}

.sub-info .intro-menu03 {
	p {
		 font-size: 1.5rem;
		 color: #777777;
		 line-height: 2.25rem;
		 font-weight: 500;
		 text-align: center;
	}
	.radio-wrap {
		 margin-top: 3.5625rem;
		 display: flex; 
		 flex-wrap: wrap;
		 gap: 2.375rem;

		 .radio-card {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				flex: calc(30%);
				border: 1px solid #e5e5e5;
				padding: 1.25rem 0.25rem 20px 1.25rem;

				.icon-wrap {
					 display: flex;
					 gap: 0.8125rem;
				}

				.icon {
					 width: 8.75rem;
					 height: 4.0625rem;
					 margin-top: 0.5625rem;
					 background: no-repeat center center / 100%;

					 &.ico-am {
							background-image: url(../img/Partner_logo01.svg);
					 }
					 &.ico-dab {
							background-image: url(../img/Partner_logo02_modify.svg);
					 }
					 &.ico-drm {
							background-image: url(../img/Partner_logo03.svg);
					 }
					 &.ico-hdr {
							background-image: url(../img/Partner_logo04.svg);
					 }
					 &.ico-cdr {
							background-image: url(../img/Partner_logo05.svg);
					 }
					 &.ico-ip {
							background-image: url(../img/Partner_logo06.svg);
					 }
					 &.ico-radio {
							background-image: url(../img/Partner_logo07.svg);
					 }
				}

				.top-title {
					 font-size: 1.875rem;
					 line-height: 2.8125rem;
					 color: #222222;
					 text-align: center;
				}

				.mid-title {
					 height: 4.6875rem;
					 font-size: 1.5rem;
					 line-height: 2.25rem;
					 color: inherit;
					 margin: 0.9375rem 0;
					 display: flex;
					 align-items: center;
					 justify-content: center;
					 word-wrap: break-word;
				}

				.con-txt {
					 font-size: 1rem;
					 line-height: 1.5rem;
					 color: inherit;
					 text-align: left;
					 margin: 0.9375rem 0 0.75rem;
					 word-wrap: break-word;
				}
				.con-txt-gray {
					 font-size: 0.875rem;
					 line-height: 1.3125rem;
					 color: #999999;
				}
		 }
	}
}

.sub-info .intro-menu04 img {
	width: 100%;
}

.sub-info {
	.img-type {
		 p {
				font-size: 1.5625rem;
				font-weight: 500;
				color: #f29f05;
				line-height: 2.3125rem;
				margin-bottom: 2.125rem;
				text-align: center;
		 }

		 img {
				width: 100%;
		 }
		 .mo-img {
				display: none;
		 }
	}
}

.sub-info {
	.sw-type {
		 display: flex;
		 padding: 1.5625rem 1.5625rem 2.25rem;
		 background: #d9e2eb;

		 .sw-type-wrap {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				padding: 39px 0px 40px 23px;

				.sw-type-tit {
					 display: flex;
					 flex-direction: column;
					 font-size: 2rem;
					 font-weight: 500;
					 line-height: 2.9375rem;
					 margin-bottom: 1rem;

					 span {
							color: #f29f05;
					 }
				}
				.sw-type-txt {
					 font-size: 1rem;
					 line-height: 1.5625rem;
					 font-weight: 400;
				}
		 }
	}
	.ico-wave {
		 width: 100%;
		 height: 6.25rem;
	}
}

.sub-info {
	.table-type {
		 display: flex;
		 background: #1f2833;
		 border-radius: 0.9375rem;
		 padding: 25px 25px;

		 .con-left-wrap {
				padding: 2.0625rem 1.5625rem 0 0.3125rem;
				text-align: center;
				p {
					 display: flex;
					 flex-direction: column;
					 font-size: 2rem;
					 font-weight: 500;
					 line-height: 2.9375rem;
					 color: #fff;
					 margin-bottom: 1.5rem;
				}
		 }
		 .con-right-wrap {
				display: flex;
				flex-direction: column;
				background: #fff;
			}
			table {
				 width: 100%;
				 th,
				 td {
						height: 2.5rem;
						text-align: center;
						font-size: 1rem;
						line-height: 1.5rem;
						border-right: 1px solid #fff;
						border-bottom: 1px solid #fff;
						padding: 0.4375rem;
						vertical-align: middle;

						&:last-child {
							 border-right: none;
						}
						&:last-child {
							 border-left: 1px solid #fff;
						}
				 }
				 th {
						font-size: 1.125rem;
						font-weight: 600;
						color: #fff;
				 }
				 tbody tr:last-child td, tbody tr:nth-child(6) td {
					border-bottom: none;
				 }
				 thead tr:nth-child(even) {
						background: #ba8dd8;
				 }
				 thead tr:nth-child(odd) {
						background: #a265ca;
				 }
				 tbody tr:nth-child(even) {
						background: #e8d9f2;
				 }
				 tbody tr:nth-child(odd) {
						background: #f3ecf8;
				 }
			}
		 .note-wrap {
				padding: 2rem 1.875rem 1.5625rem;

				p {
					 font-size: 1.125rem;
					 color: #222222;
					 line-height: 1.625rem;
					 font-weight: 500;
					 border-bottom: 1px solid #ebebeb;
					 padding-bottom: 1.0938rem;
				}
				ul {
					 padding-top: 1.0938rem;
					 font-size: 0;

					 li {
							font-size: 1rem;
							color: initial;
							line-height: 1.5rem;
							padding-bottom: 0.75rem;
							&::before {
								 content: "";
								 display: inline-block;
								 background: url(../img/ico-check.svg) no-repeat center center / 100%;
								 width: 0.75rem;
								 height: 0.75rem;
								 margin-right: 0.5rem;
							}
					 }
				}
		 }
	}
}
.sub-info .solu-menu09.table-type {
	.con-left-wrap {
		 display: flex;
		 flex-direction: column;
		 justify-content: space-between;
	}

	.role-table-wrap table {
		 thead tr:nth-child(odd) {
				background: #428dff;
		 }
		 thead tr:nth-child(even) {
				background: #7aafff;
		 }
		 tbody tr:nth-child(odd) {
				background: #d9e8ff;
		 }
		 tbody tr:nth-child(even) {
				background: #c6dcff;
		 }
	}
}

.sub-info .solu-menu09 {
	.tab-list {
		 display: flex;
		 gap: 0.3125rem;
		 cursor: pointer;

		 .tab-button {
				width: 100%;
				height: 75px;
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 0.625rem 0.25rem;
				font-size: 1rem;
				line-height: 1.5rem;
				border: 1px solid #412859;
				border-bottom: none;
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
				text-align: center;
	

				&.on {
					 background: #412859;
					 color: #fff;
				}
		 }
	}

	.tab-content-wrap {
		 display: none;
		 margin-top: -1px;
		 &.show {
				display: block;
		 }
	}
	.tab-content {
		 display: flex;
		 justify-content: space-between;
		 background: #412859;
		 padding: 2.5rem 3.125rem;
		 align-items: center;

		 .con-left-wrap {
				padding-right: 15px;
				.tit {
					 font-size: 2rem;
					 line-height: 3.75rem;
					 font-weight: 500;
					 color: #fff;
					 margin-bottom: 0.625rem;

					 &.line-height {
							line-height: 3.75rem;
					 }

					 span {
							font-size: 2.5rem;
					 }
				}
				.txt {
					 display: flex;
					 gap: 0.75rem;
					 li {
							font-size: 1rem;
							color: #fff;
							span {
								 font-weight: 600;
								 color: #f29f05;
							}
					 }
				}
		 }

		 img {
				width: 100%;
				height: 38.75rem;
		 }
	}
}

@media (max-width: map-get($media-size,smallDesk)) {

	.sub-contents .sub-info {
		 
		 .intro-menu02 {
				justify-content: center;
		 }
		 .intro-menu03 .radio-wrap{
			gap: 1.375rem;
		}
	}
	.mobile-sub-menu {

		appearance: none; 
		background: url('../img/header-mobile-select-arw-down.png') no-repeat right 15px center !important; 
	 background-size: 14px !important;
	 background-color: #eee !important;
	 }
}
@media (max-width: 1099px) {
	.sub-contents .sub-info {
		.sw-type {
			flex-direction: column-reverse;
			text-align: center;
			padding: 25px;
			img {
			 width: 100%;
			}
			.sw-type-wrap {
				 padding: 5px 36px 25px;
				 .sw-type-tit {
					display: block;
				 }
				 .sw-type-txt {
					font-size: 1.2rem;
				 }
			}
			.ico-wave {
				 display: none;
			}
	 }
	}
}
@media (max-width: 960px) {
	.sub-contents .sub-info .intro-menu03 .radio-wrap .radio-card {
		flex: 46%;
	}
}
@media (max-width: map-get($media-size,tablet)) {
	.sub-contents {
		 .sub-info {
				.intro-img01 {
					 width: 100%;
				}
				.intro-menu02 {
					.intro-advantages-wrap {
						&.perfor {
							margin-right: 1.5rem;
						}
						&.proven {
							margin-right: 1.5rem;
						}
					}
				.intro-advantages__item {
					padding: 0.5625rem 1.875rem;
						p {
							font-size: 1.475rem;
							height: 3.25rem;
							line-height: 1.8125rem;
						}
					}
				} 
				.intro-menu03 .radio-wrap{
					gap: 1.375rem;
					.radio-card {
						flex: 45%;
					}
				}
				.sw-type {
					 flex-direction: column-reverse;
					 text-align: center;
					 padding: 15px;
					 .sw-type-wrap {
							padding: 5px 36px 15px;
					 }
					 .ico-wave {
							display: none;
					 }
				}
				.table-type {
					padding: 15px;
				}
				.tab-list {
					//  flex-wrap: wrap;
					 
					 .tab-button {
							flex: calc(30% - 10px);
							padding: 0.625rem 1.25rem
					 }
				}
				.tab-content {
					 flex-direction: column;
					 gap: 30px;
					//  padding: 0.625rem 1.25rem;
					 img {
							width: 100%;
							height: auto;
					 }
					 .con-right-wrap {
							width: 100%;
					 }
					 .con-left-wrap {
							padding-right: 0;
					 }
				}
		 }
	}
}
@media (max-width: map-get($media-size,largeMo)) {
	.sub-contents {
		 width: 100%;
		 .sub-info {
				.intro-img01 {
					 width: 100%;
				}
				.intro-img02 {
					 display: none;
				}
				.intro-mo-img02 {
					 display: block;
					 width: 100%;
					 margin-top: 80px;
				}
				.intro-menu02 {
					 flex-wrap: wrap; 
					 
					 .intro-advantages-wrap  {
							width: 100%;
							margin-right: 0 !important;
							flex-wrap: nowrap;
							&.proven {
								 margin-top: 2.5rem;
								 flex: none;
							}
							&.advan {
								 margin-top: 2.5rem;
							}

							.intro-advantages__item {
								width: 100%;
								padding: 1.5625rem 1.875rem;
								p {
									font-size: 1.875rem;
									height: 5.25rem;
							 }
							 .intro-advantages__list li {
								font-size: 1.2rem;
							 }
							} 
					 }
				} 
				.intro-menu03 .radio-wrap {
					.radio-card {
						flex: 100%;
					}
				}
				.img-type {
					 img {
							width: 100%;
					 }
					 .img04, .img06, .img08 {
							display: none;
					 }
					 .mo-img {
							display: block;
					 }
				}
				.sw-type {
					 flex-direction: column-reverse;
					 text-align: center;
					 padding: 15px;
					 .sw-type-wrap {
							padding: 5px 36px 15px;
					 }
					 .ico-wave {
							display: none;
					 }
				}
				.table-type {
					 flex-direction: column;
					 border-radius: 0px;
					 padding: 12px;
					 .con-left-wrap {
							padding: 0  1.5625rem 0 1.3125rem;

							p {
								flex-direction: row;
								justify-content: center;
								align-items: center;
								gap: 5px;
							}
					 }
					 .note-wrap {
							background: #1f2833;
							padding: 2rem 0 1.5625rem;
							margin: -1px;
							p,
							ul li {
								 color: #fff;
							}
							li::before {
								 content: "";
								 display: inline-block;
								 background: url(../img/ico-mo-check.svg) no-repeat center center / contain;
								 width: 12px;
								 height: 12px;
								 margin-right: 8px;
							}
					 }
					 .ico-wave {
							display: none;
					 }
				}
				.tab-list {
					flex-wrap: wrap;
					gap: 0;
					 .tab-button {
							padding: 8px 15px;
							height: 56px;
							display: flex;
							justify-content: center;
							align-items: center;
						  border-top-left-radius: 0;
              border-top-right-radius: 0;
							margin-right: -1px;

							&:nth-child(3), &:last-child {
								margin-right: 0;
							}
					 }
				}
				.tab-content {
					 flex-direction: column;
					 gap: 25px;
					 padding: 1.5rem 1.125rem;
					 .con-left-wrap {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						
						.tit {
							font-size: 1.4rem;
							span {
								font-size: 2rem;
							}
						}
						.txt {
							flex-wrap: wrap;
						}
					 }
					 img {
							width: 100%;
					 }
				}
		 }
	}
}

@media (max-width: 466px) {
	.sub-contents .sub-info .sw-type .sw-type-wrap .sw-type-tit{
    display: flex;
	}
}
// 작업 eee