#main {
	@for $i from 1 to 5 {
		.box#{$i} {
			background: url("../img/bg-main0#{$i}.jpg");
			// background-attachment: fixed;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
			height: 100vh;
			min-height: 60rem;
		}
	}

	.box1 {
		p {
			color: #fff;
			font-size: 1.25rem;
			margin-bottom: 2.5rem;
			text-align: center;
			line-height: 1.6;
			word-break: keep-all;
		}
		.info {
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
		}
	}

	.box2 {
		ul {
			display: flex;
			margin-top: 5rem;
			li {
				flex: 1;
				text-align: center;
				&:hover {
					@media (min-width: map-get($media-size,smallDesk)) {
						img {
							transform: rotateY(180deg);
						}
					}
				}
				img {
					text-align: center;
					display: inline-block;
					margin-bottom: 3.125rem;
					transition: all 0.3s;
				}

				p.tit {
					padding: 0.875rem 0;
					font-size: 1.375rem;
					font-weight: 500;
					color: #fff;
				}
				p.txt {
					font-size: 1rem;
					line-height: 1.5;
					word-break: keep-all;
					color: #fff;
					margin-top: 1.75rem;
				}
			}
		}
	}

	.box3 {
		ul:not(.off) {
			display: flex;
			background: rgba(0, 0, 0, 0.45);
			align-items: center;
			justify-content: center;
			min-height: 45.625rem;
			align-items: stretch;

			> li {
				flex: 1;
				text-align: center;
				cursor: pointer;
				height: 45.625rem;
				flex-grow: 1;
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				transition: all 1s;
				border:1px solid rgba(255, 255, 255, 0.1);


				@for $i from 1 to 6 {
					&:nth-of-type(#{$i}) {
						.img {
							@include bg-url("img", "ico0#{$i}_off.svg", true, "center", auto);
						}
						@media (min-width: map-get($media-size,smallDesk)) {
							&:hover {
								.img {
									@include bg-url(
										"img",
										"ico0#{$i}_on.svg",
										true,
										"center",
										auto
									);
								}
							}
						}
						@media (max-width: map-get($media-size,smallDesk)) {
							.img {
								background-color: #F29F05;
								@include bg-url(
									"img",
									"ico0#{$i}_on.svg",
									true,
									"center",
									auto
								);
							}
						}
						@media (max-width: map-get($media-size,smallDesk)) {
							background-size: 30px;
						}
					}
				}

				p {
					color: #fff;
					opacity: 0.7;
					font-size: 1.375rem;
					margin-bottom: 1.875rem;
					
				}
				.img {
					display: inline-flex;
					width: 5rem;
					height: 5rem;
					align-items: center;
					justify-content: center;
					background: #000;
					border-radius: 50%;
					-webkit-transition: all .5s;
   				 transition-delay: 0s;
				}

				@media (min-width: map-get($media-size,smallDesk)) {
					&:hover {
						flex: 3;
						background: rgba(0, 0, 0, 0.7);
						>div{
							position: relative;
    top: -14%;
						}
						.off {
							opacity: 1;
							visibility: visible;
							// height: auto;
						}
						p{
							opacity: 1;
							font-size: 1.5rem;
						}
						.img {
							background: #f29f05;
					margin-bottom: 4.0625rem;
						}
					}
				}
			}
		}
		.off {
			opacity: 0;
			visibility: hidden;
			height: 0;

			li {
				@include make-before {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					width: 0.4375rem;
					height: 0.4375rem;
					left: 0;
					background: #bf939b;
					border-radius: 50%;
				}
				position: relative;
				font-size: 1.1rem;
				color: #fff;
				margin-bottom: 0.9375rem;
				padding-left: 0.9375rem;
				text-align: left;

				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}
	}
}
.all-center {
	width: 100%;
	height: 100%;
}
