.sub-info .intro-menu03 p {
	margin-top: -1.5625rem;
}

.com-card {
	display: flex;
	gap: 1.875rem;
	flex-wrap: wrap;
	> li {
		flex: 0 0 48%;
		height: 21.25rem;
		border: 0.0625rem solid #eee;
		background: #f5f5f5;
		padding-top: 3.75rem;
		padding-left: 1.5625rem;
		.num {
			width: 3.5rem;
			height: 3.5rem;
			background: #3c3440;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 1.6875rem;
			color: #fff;
			font-weight: bold;
		}
		.title {
			margin-top: 1.75rem;
			font-size: 1.5rem;
			font-weight: 500;
		}
		.list {
			margin-top: 2rem;
			li {
				position: relative;
				padding-bottom: 0.75rem;
				font-size: 1rem;
				padding-left: 1.25rem;
				line-height: 1.5;
				word-break: keep-all;
				@include make-before {
					position: absolute;
					left: 0;
					top: 0.375rem;
					width: 0.75rem;
					height: 0.75rem;
					@include bg-url("img", "ico-check.svg");
					background-size: cover;
				}
				&:last-of-type {
					padding-bottom: 0;
				}
			}
		}
	}

	&.type2{
		li{
			background: #fff;
			.icon,.title{
				text-align: center;
			}
		}
	}
}
.sub-info {
	width: 100%;
	position: relative;
}
.com-step-wrap {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	li:nth-of-type(1) {
		position: relative;
		right: 3.75rem;
		.title-wrap {
			background: #905bb6;
			@include make-after {
				border-left: 6.25rem solid #905bb6;
			}
			@include make-before {
				position: absolute;
				left: -5rem;
				bottom: -1.25rem;
				width: 15.375rem;
				height: 1.25rem;
				@include bg-url("img", "bg-step1.png");
			}
		}
	}
	li:nth-of-type(2) {
		position: relative;
		right: 8.6875rem;
		.title-wrap {
			background: #aa75d0;
			@include make-after {
				border-left: 6.25rem solid #aa75d0;
			}
			@include make-before {
				position: absolute;
				left: -5rem;
				bottom: -1.25rem;
				width: 15.375rem;
				height: 1.25rem;
				@include bg-url("img", "bg-step2.png");
			}
		}
	}
	li:nth-of-type(3) {
		position: relative;
		right: 13.625rem;
		.title-wrap {
			background: #bd93da;
			@include make-after {
				border-left: 6.25rem solid #bd93da;
			}
			@include make-before {
				position: absolute;
				left: -5rem;
				bottom: -1.25rem;
				width: 15.375rem;
				height: 1.25rem;
				@include bg-url("img", "bg-step3.png");
			}
		}
	}
	li:nth-of-type(4) {
		position: relative;
		right: 18.5625rem;
		.title-wrap {
			background: #d0b2e5;
			@include make-after {
				border-left: 6.25rem solid #d0b2e5;
			}
		}
	}
}
.com-step {
	height: 12.5rem;
	width: calc(57.5rem);
	position: relative;
	margin-bottom: 1.25rem;
	&:last-of-type {
		margin-bottom: 0;
	}
	.title-wrap {
		position: absolute;
		left: 0;
		height: 100%;
		width: 10.3125rem;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: 0.3125rem;
		font-size: 1.75rem;
		color: #fff;
		span {
			font-size: 2.8125rem;
			font-weight: bold;
			opacity: 0.7;
			position: relative;
			top: -0.1875rem;
		}
		@include make-after {
			position: absolute;
			right: -6.1875rem;
			top: 0;
			width: 0;
			height: 0;
			border-top: 6.25rem solid transparent;
			border-bottom: 6.25rem solid transparent;
			z-index: 2;
		}
	}
	.info {
		position: absolute;
		height: 100%;
		left: 10.3125rem;
		width: calc(100% - 13.5rem);
		background: #eceef0;
		display: flex;
		gap: 0.75rem;
		flex-direction: column;
		align-items: flex-end;
		justify-content: center;
		padding-left: 7.8125rem;
		@include make-after {
			position: absolute;
			right: -6.1875rem;
			top: 0;
			width: 0;
			height: 0;
			border-top: 6.375rem solid transparent;
			border-bottom: 6.25rem solid transparent;
			border-left: 6.25rem solid #eceef0;
		}
		p.title {
			color: #905bb6;
			font-size: 1.5rem;
			font-weight: 500;
			align-self: flex-start;
			margin-bottom: 0.3125rem;
			line-height: 1.5;
		}
		p.txt {
			align-self: flex-start;
			color: #222222;
			font-size: 1rem;
			line-height: 1.5;
			position: relative;
			padding-left: 1.25rem;
			@include make-before{
				content: "";
				display: block;
				position: absolute;
				left: 0;
				top: 0.375rem;
				width: 0.75rem;
				height: 0.75rem;
				background-image: url(../img/ico-check.svg);
				background-repeat: no-repeat;
				background-size: cover;

			}
		}
	}
}
.placeholder {
	width: 6.25rem; /* 자식 요소와 동일한 크기 */
	height: 6.25rem; /* 자식 요소와 동일한 크기 */
	visibility: hidden; /* 투명하게 처리 */
}

@media(max-width:map-get($media-size,smallDesk)){
	.com-card > li {
		flex: calc(49% - 5px) !important
	}
}